*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

nav .logo img{
    width: 100px;
}

nav .center ul{
    margin-left: 120px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav .center ul input{
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
}

nav .center ul .search{
    border: 2px solid black;
    padding: 10px;
}

nav .end ul{
    margin-left: 110px;
    display: flex;
    list-style: none;
    gap: 30px;
}

nav .end ul li{
    font-size: 20px;
}

.container{
    background-color: rgb(230, 230, 230);
}

.admin{
    margin-bottom: 20px;
}

.stock{
    margin-bottom: 20px;
    margin-top: 20px;
}

#productList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
    margin-left: 8px;
}

#productList li{
    border: 1px solid rgb(198, 198, 198);
    background-color: white;
    width: 220px;
    display: flex;
    flex-direction: column;

}

#productList .pprice{
    font-weight: 700;
    font-size: 20px;
}

.empty{
    height: 20px;
}